<h2><%= @pho.name %></h2>

<strong>Date: </strong><%= @pho.date %>

<p><strong>Location:</strong> <%= @pho.location %></p>

<%= image_tag @pho.img_url %>

<p><strong>My Rating: </strong><%= @pho.rating %> out of 10</p> 

<p><%= @pho.review %></p>

<p>-------------</p>

<p><%= link_to "Write Your Own Review", new_pho_comment_path(@pho) %></p>

<%= render @pho.comments %>



<%#= link_to "Delete", pho_path(@pho), method: :delete %>